body, 
ul, 
li, 
p {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin-bottom: 100px;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

h1{
  text-align: center;
  margin: 25px;
}

.header {
  background: #1d1e20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
 display: block; 
 padding: 10px;
}

img {
  max-width: 100%;
  display: block;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-gap: 60px;
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
}

.grid2 .sidebar > div{
  margin-bottom: 10px;
}

.grid2 .sidebar > div img {
  width: 100%;
}

@media (max-width: 700px) {
  .grid2 {
    grid-template-columns: 1fr;
  }

  .grid2 .video{
    margin-bottom: 50px;
  }

  .grid2 .sidebar {
    display: flex;
    overflow: scroll;
  }

  .grid2 .sidebar > div {
    flex: 1 0 200px;
    margin: 0 10px;
  }

  /* .grid1 > div:nth-child(n + 4) {
    display: block;
  }

  .grid1 > div.propaganda {
    grid-column: auto;
    grid-row: auto;
  } */
}

